USE [CuboGames]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 23/11/2023 15:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[TipoCategoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juegos]    Script Date: 23/11/2023 15:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juegos](
	[IdJuego] [varchar](50) NOT NULL,
	[Nombre] [varchar](70) NOT NULL,
	[CantLikes] [int] NOT NULL,
	[fkUsuario] [int] NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[Imagen] [varchar](max) NOT NULL,
	[Precio] [int] NOT NULL,
	[fkCategoria] [int] NOT NULL,
 CONSTRAINT [PK_Juegos] PRIMARY KEY CLUSTERED 
(
	[IdJuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 23/11/2023 15:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[Numero] [int] NULL,
	[Titular] [varchar](50) NULL,
	[CodigoSeg] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 23/11/2023 15:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [TipoCategoria]) VALUES (1, N'Deportes')
INSERT [dbo].[Categorias] ([IdCategoria], [TipoCategoria]) VALUES (2, N'Acción')
INSERT [dbo].[Categorias] ([IdCategoria], [TipoCategoria]) VALUES (3, N'Simulación')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
INSERT [dbo].[Juegos] ([IdJuego], [Nombre], [CantLikes], [fkUsuario], [Descripcion], [FechaCreacion], [Imagen], [Precio], [fkCategoria]) VALUES (N'1', N'EA FC 24', 26, NULL, N'Powered by Football™, EA SPORTS™ FC 24 acorta las distancias aún más con lo que sucede en la vida real gracias a los avances en la jugabilidad básica y a nuevas características innovadoras en todos ', CAST(N'2023-09-23' AS Date), N'https://http2.mlstatic.com/D_NQ_NP_838310-MLA72105170591_102023-O.webp', 70, 1)
INSERT [dbo].[Juegos] ([IdJuego], [Nombre], [CantLikes], [fkUsuario], [Descripcion], [FechaCreacion], [Imagen], [Precio], [fkCategoria]) VALUES (N'11', N'NFL 24', 3, NULL, N'El mejor juego de fútbol americano de EA Sports vuelve con Madden NFL 24, un simulador sobre el deporte de contacto. ', CAST(N'2023-08-15' AS Date), N'https://images.squarespace-cdn.com/content/v1/610c6ac52d9ef15f1ce71190/f41b7675-572a-4898-a739-1c502638eed9/madden24-1686171011636.jpg?format=500w', 10, 1)
INSERT [dbo].[Juegos] ([IdJuego], [Nombre], [CantLikes], [fkUsuario], [Descripcion], [FechaCreacion], [Imagen], [Precio], [fkCategoria]) VALUES (N'12', N'Counter-Strike: Global Offensive
', 35, NULL, N'Counter-Strike: Global Offensive (CS:GO) amplía el juego de acción por equipos del que fue pionera la franquicia cuando salió hace 19 años. CS:GO trae nuevos mapas, personajes, armas y modos de juego', CAST(N'2012-08-21' AS Date), N'https://i1.sndcdn.com/artworks-CElK1tN2STm9sEWq-ahdGNA-t500x500.jpg', 0, 2)
GO
INSERT [dbo].[Tarjeta] ([Numero], [Titular], [CodigoSeg]) VALUES (1234567890, N'Benicio', 123)
INSERT [dbo].[Tarjeta] ([Numero], [Titular], [CodigoSeg]) VALUES (44455577, N'Matias', 123)
INSERT [dbo].[Tarjeta] ([Numero], [Titular], [CodigoSeg]) VALUES (100000001, N'Joaquin', 123)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Contraseña], [Nombre]) VALUES (5, N'1234', N'Beni')
INSERT [dbo].[Usuarios] ([IdUsuario], [Contraseña], [Nombre]) VALUES (6, N'123', N'Joaco')
INSERT [dbo].[Usuarios] ([IdUsuario], [Contraseña], [Nombre]) VALUES (7, N'pepe', N'Matias')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Juegos]  WITH CHECK ADD  CONSTRAINT [FK_Juegos_Categorias] FOREIGN KEY([fkCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Juegos] CHECK CONSTRAINT [FK_Juegos_Categorias]
GO
ALTER TABLE [dbo].[Juegos]  WITH CHECK ADD  CONSTRAINT [FK_Juegos_Usuarios] FOREIGN KEY([fkUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Juegos] CHECK CONSTRAINT [FK_Juegos_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarLikesJuego]    Script Date: 23/11/2023 15:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarLikesJuego]
    @IdJuego VARCHAR(50),
    @CantLikes INT
AS
BEGIN
    UPDATE Juegos
    SET CantLikes = CantLikes + @CantLikes
    WHERE IdJuego = @IdJuego;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarJuego]    Script Date: 23/11/2023 15:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarJuego]
    @Nombre VARCHAR(70),
    @CantLikes INT,
    @Descripcion VARCHAR(200),
    @FechaCreacion DATE,
    @Imagen VARCHAR(MAX),
    @Precio INT,
    @fkCategoria INT
AS
BEGIN
    INSERT INTO Juegos (Nombre, CantLikes, Descripcion, FechaCreacion, Imagen, Precio, fkCategoria)
    VALUES (@Nombre, @CantLikes, @Descripcion, @FechaCreacion, @Imagen, @Precio, @fkCategoria);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarUsuario]    Script Date: 23/11/2023 15:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarUsuario]
    @Contraseña VARCHAR(50),
    @Nombre VARCHAR(50)
AS
BEGIN
    INSERT INTO Usuarios (Contraseña, Nombre)
    VALUES (@Contraseña, @Nombre);
END
GO
