USE [Wanderlust]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 1/11/2023 10:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[ID_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[ID_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 1/11/2023 10:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[ID_Viaje] [int] NULL,
	[FechaNacimiento] [date] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viajes]    Script Date: 1/11/2023 10:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viajes](
	[ID_Viaje] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[precio] [int] NULL,
	[imagen] [varchar](max) NULL,
	[descripcion] [varchar](max) NULL,
	[puntaje] [int] NULL,
	[ID_Pais] [int] NULL,
 CONSTRAINT [PK_Viajes] PRIMARY KEY CLUSTERED 
(
	[ID_Viaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viajes_Elegidos]    Script Date: 1/11/2023 10:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viajes_Elegidos](
	[ID_Viaje] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[precio] [int] NOT NULL,
	[imagen] [varchar](max) NULL,
	[descripcion] [varchar](max) NULL,
	[puntaje] [int] NOT NULL,
 CONSTRAINT [PK_Viajes_Elegidos] PRIMARY KEY CLUSTERED 
(
	[ID_Viaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([ID_Pais], [Nombre], [Descripcion]) VALUES (6, N'Argentina', N'País ubicado en América del Sur')
INSERT [dbo].[Pais] ([ID_Pais], [Nombre], [Descripcion]) VALUES (7, N'España', N'País ubicado en Europa')
INSERT [dbo].[Pais] ([ID_Pais], [Nombre], [Descripcion]) VALUES (8, N'Estados Unidos', N'País ubicado en América del Norte')
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID_Usuario], [nombre], [usuario], [email], [contraseña], [ID_Viaje], [FechaNacimiento]) VALUES (1, N'Juan', N'juan', N'juan@gmail.com', N'98453', NULL, CAST(N'2007-08-07' AS Date))
INSERT [dbo].[Usuario] ([ID_Usuario], [nombre], [usuario], [email], [contraseña], [ID_Viaje], [FechaNacimiento]) VALUES (2, N'María', N'maria', N'maria@gmail.com', N'054345', NULL, CAST(N'2005-06-02' AS Date))
INSERT [dbo].[Usuario] ([ID_Usuario], [nombre], [usuario], [email], [contraseña], [ID_Viaje], [FechaNacimiento]) VALUES (3, N'Pedro', N'pedro', N'pedro@gmail.com', N'115443', NULL, CAST(N'1999-02-11' AS Date))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Viajes] ON 

INSERT [dbo].[Viajes] ([ID_Viaje], [nombre], [precio], [imagen], [descripcion], [puntaje], [ID_Pais]) VALUES (1, N'La bombonera', 4999, N'https://i.pinimg.com/736x/dd/02/8d/dd028da298c2c954517c53041c34446d.jpg', N'
La Bombonera es el estadio de fútbol del Club Atlético Boca Juniors, ubicado en Buenos Aires, Argentina. Es uno de los estadios más emblemáticos del mundo, conocido por su atmósfera vibrante y su forma en forma de herradura.', 3, 6)
INSERT [dbo].[Viajes] ([ID_Viaje], [nombre], [precio], [imagen], [descripcion], [puntaje], [ID_Pais]) VALUES (2, N'El monumental', 4699, N'https://bolavip.com/export/sites/lpm/img/2023/01/31/obras.jpg_976286741.jpg', N'El Monumental es el estadio de River Plate. Es el más grande de Argentina y Sudamérica, y ha sido sede de importantes partidos internacionales.', 9, 6)
INSERT [dbo].[Viajes] ([ID_Viaje], [nombre], [precio], [imagen], [descripcion], [puntaje], [ID_Pais]) VALUES (3, N'Republica de mataderos', 9999, N'https://pbs.twimg.com/media/B1CKB5JIcAAde9C.jpg', N'Estadio hermoso y espectacular su estrcutura.Paseo imperdible.', 10, 6)
SET IDENTITY_INSERT [dbo].[Viajes] OFF
GO
SET IDENTITY_INSERT [dbo].[Viajes_Elegidos] ON 

INSERT [dbo].[Viajes_Elegidos] ([ID_Viaje], [nombre], [precio], [imagen], [descripcion], [puntaje]) VALUES (1, N'La bombonera', 4999, N'https://i.pinimg.com/736x/dd/02/8d/dd028da298c2c954517c53041c34446d.jpg', N'
La Bombonera es el estadio de fútbol del Club Atlético Boca Juniors, ubicado en Buenos Aires, Argentina. Es uno de los estadios más emblemáticos del mundo, conocido por su atmósfera vibrante y su forma en forma de herradura.', 3)
INSERT [dbo].[Viajes_Elegidos] ([ID_Viaje], [nombre], [precio], [imagen], [descripcion], [puntaje]) VALUES (2, N'El monumental', 4699, N'https://bolavip.com/export/sites/lpm/img/2023/01/31/obras.jpg_976286741.jpg', N'El Monumental es el estadio de River Plate. Es el más grande de Argentina y Sudamérica, y ha sido sede de importantes partidos internacionales.', 9)
INSERT [dbo].[Viajes_Elegidos] ([ID_Viaje], [nombre], [precio], [imagen], [descripcion], [puntaje]) VALUES (3, N'Republica de mataderos', 9999, N'https://pbs.twimg.com/media/B1CKB5JIcAAde9C.jpg', N'Estadio hermoso y espectacular su estrcutura.Paseo imperdible.', 10)
SET IDENTITY_INSERT [dbo].[Viajes_Elegidos] OFF
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Viajes_Elegidos] FOREIGN KEY([ID_Viaje])
REFERENCES [dbo].[Viajes_Elegidos] ([ID_Viaje])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Viajes_Elegidos]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [FK_Viajes_Pais] FOREIGN KEY([ID_Pais])
REFERENCES [dbo].[Pais] ([ID_Pais])
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [FK_Viajes_Pais]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [FK_Viajes_Viajes_Elegidos] FOREIGN KEY([ID_Viaje])
REFERENCES [dbo].[Viajes_Elegidos] ([ID_Viaje])
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [FK_Viajes_Viajes_Elegidos]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPais]    Script Date: 1/11/2023 10:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertPais]
    @Nombre varchar(50),
    @Descripcion varchar(50)
AS
BEGIN
    INSERT INTO [dbo].[Pais] ([Nombre], [Descripcion])
    VALUES (@Nombre, @Descripcion)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUsuario]    Script Date: 1/11/2023 10:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUsuario]
    @nombre varchar(50),
    @usuario varchar(50),
    @email varchar(max),
    @contraseña varchar(50),
    @ID_Viaje int,
    @FechaNacimiento date
AS
BEGIN
    INSERT INTO [dbo].[Usuario] ([nombre], [usuario], [email], [contraseña], [ID_Viaje], [FechaNacimiento])
    VALUES (@nombre, @usuario, @email, @contraseña, @ID_Viaje, @FechaNacimiento)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertViajes]    Script Date: 1/11/2023 10:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertViajes]
    @nombre varchar(50),
    @precio int,
    @imagen varchar(max),
    @descripcion varchar(max),
    @puntaje int,
    @ID_Pais int
AS
BEGIN
    INSERT INTO [dbo].[Viajes] ([nombre], [precio], [imagen], [descripcion], [puntaje], [ID_Pais])
    VALUES (@nombre, @precio, @imagen, @descripcion, @puntaje, @ID_Pais)
END
GO
